{% extends "base.html" %}
{% block body_class %}blog{% endblock %}

{% block content %}

<div class="post clearfix">
	  <div class="date">404</div>
	  <h2>Page not found</h2>
	  <p class="teaser">I’m sorry, but the page you was looking for could not be found.</p>
  	<div class="body">
		    <p>According to the common Internet wisdom, <a href="http://www.w3.org/Provider/Style/URI">cool URIs don’t change</a>, but there are some pages that used to exist on my site that I've decided to discontinue.</p>
		    <p>If you've hit one of them, I apologise, but there was nothing new or original about these pages that could not be found elsewhere on the web.</p>
		    <p>If you for some reason has happened upon something that is truly missing, feel free to <a href="{% url contact_form %}">contact me</a>.</p>
  	</div>
</div>

{% endblock %}
